/* SilverWare Social Variables
===================================================================================================================== */

$email-button-color-text: #333 !default;
$email-button-color-border: #ccc !default;

$email-button-background: #eee !default;
$email-button-background-light: #fff !default;
$email-button-background-dark: #ddd !default;

$email-button-border-radius: 3px !default;
