/* SilverWare Social Variables
===================================================================================================================== */

// Email Sharing Button:

$email-button-color-text: #333 !default;
$email-button-color-border: #aaa !default;

$email-button-background: #eee !default;
$email-button-background-light: #fff !default;
$email-button-background-dark: #ddd !default;

$email-button-border-radius: 3px !default;
